<div class="post">
  <div class="header">
    <h1>Post Title</h1>

    <button routerLink="/" class="btn btn-link">To main page</button>
  </div>
  <div class="info">
    <strong>Author</strong>
    <small>11.11.2009</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dignissimos illo odio officiis quasi quo sequi velit? Ad architecto consequatur doloribus ducimus enim exercitationem facilis pariatur quae reprehenderit rerum. Doloribus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dignissimos illo odio officiis quasi quo sequi velit? Ad architecto consequatur doloribus ducimus enim exercitationem facilis pariatur quae reprehenderit rerum. Doloribus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dignissimos illo odio officiis quasi quo sequi velit? Ad architecto consequatur doloribus ducimus enim exercitationem facilis pariatur quae reprehenderit rerum. Doloribus.</p>
  </div>
</div>
