
.card{
  width: 300px;
  height: 150px;
  background-image: url("https://media.nbcwashington.com/2019/09/GettyImages-489740060.jpg?resize=850%2C478");
  background-size: 100%;
  background-size: cover;
  background-position-y: center;
  h2{
    color: #f4f4f4;
    text-shadow: 3px 0px 0px black;
  }
}
button{
  margin-top: 40px;
  margin-left: auto;
  margin-right: 0;

}
