
.card{
  width: 300px;
  height: 150px;
  background-image: url("https://i.pinimg.com/originals/16/1a/03/161a03f0340a70907700982e825182f1.jpg");
  background-size: 100%;
  background-size: cover;
  background-position-y: center;
  h2{
    color: #f4f4f4;
    text-shadow: 3px 0px 0px black;
  }
}
button{
  margin-top: 40px;
  margin-left: auto;
  margin-right: 0;

}
