.navbar{
  background: #f28a02;
  background: linear-gradient(to right,#ff5024 0%,#e3c032 33%,#e3c032 67%,#ff5024 100% );
  .admin{
    margin-right: 0em;
    margin-left: auto;

  }
  h1{
    text-align: center;
  }
}
.logo{
  padding: 5px 10px 5px 10px;
  background: rgba(255, 80, 36  ,0.7);
  border-radius: 15px;
  margin-left: 44%;

}
