
.card{
  width: 300px;
  height: 150px;
  background-image: url("https://us.123rf.com/450wm/natara/natara1603/natara160300004/53621623-cup-of-coffee-in-coffee-shop-.jpg?ver=6") ;
  background-size: cover;
  background-position-y: center;

  h2{
    color: #f4f4f4;
    text-shadow: 3px 0px 0px black;
  }
}
button{
  margin-top: 40px;
  margin-left: auto;
  margin-right: 0;

}
