
.card{
  width: 300px;
  height: 150px;
  background-image: url("https://www.wrangell.com/sites/default/files/styles/full_node_primary_extra_wide/public/imageattachments/museum/page/3391/20180728-img_8031.jpg?itok=4N9wuju3");
  background-size: 100%;
  background-size: cover;
  background-position-y: center;
  h2{
    color: #f4f4f4;
    text-shadow: 3px 0px 0px black;
  }
}
button{
  margin-top: 40px;
  margin-left: auto;
  margin-right: 0;

}
