.open{
  margin-right: 20px;
}
table{
  tr{
    border: 1px solid silver;
    td{
      width: 25%;
    }
  }
  tr:nth-child(odd){
    background: lightskyblue;
  }
  tr:nth-child(even){
    background: lightblue;
  }

}
