<div class="posts">
  <app-restaurant class="choose"></app-restaurant>
  <app-cafe class="choose"></app-cafe>
  <app-museum class="choose"></app-museum>
  <app-theater class="choose"></app-theater>
  <app-cinema class="choose"></app-cinema>
  <app-pub class="choose"></app-pub>
  <app-park class="choose"></app-park>
  <app-food-store class="choose"></app-food-store>
  <app-hotel class="choose"></app-hotel>
  <app-nightclubtest class="choose"></app-nightclubtest>
  <app-pharmacy class="choose"></app-pharmacy>
  <app-playground class="choose"></app-playground>
  <app-zoo class="choose"></app-zoo>
  <app-aquapark class="choose"></app-aquapark>
  <app-sauna class="choose"></app-sauna>
</div>
